<footer>
  <h3>Local Resources</h3>

  <ul>
    <li>
      <a href="{{ site.url }}/local-software-companies.html">
        Software companies
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/local-groups.html">
        Groups and meetups
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/local-spaces.html">
        Co-working spaces
      </a>
    </li>
  </ul>

  <h3>Elsewhere</h3>

  <ul>
    <li>
      <a href="https://github.com/cebucodecamp">
        GitHub repo
      </a>
    </li>
    <li>
      <a href="https://gitter.im/cebucodecamp/loft">
        Gitter
      </a>
    </li>
    <li>
      <a href="https://groups.google.com/forum/#!forum/cebucodecamp">
        Google Groups
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/groups/CebuCodeCamp/">
        Facebook Group
      </a>
    </li>
  </ul>

  <h3>Pages</h3>

  <ul>
    <li>
      <a href="{{ site.url }}/about-us.html">
        About us
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/code-of-conduct.html">
        Code of Conduct
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/our-location.html">
        Our location
      </a>
    </li>
  </ul>

  <p>
    <small>Hosted on GitHub Pages &mdash; Theme
      by <a href="https://github.com/orderedlist">orderedlist</a></small>
  </p>
</footer>
